/**
* Colors variables
**/

:root {
  /* Basics */
  --white: #ffffff;
  --light: #E9F1F7;
  --dark: #1B2432;

  /* Main colors */
  --main: #6c38da;
  --secondary: #EE4266;
  --third: #F9A03F;


  /* Document variables */
  --font-family: 'Source Sans Pro', sans-serif;
  --font-size: 1.6rem; /* 16px */
  --line-height: 1.6;
  --font-weight: 300;


  /* Layout variables */
  --tablet: 76.8rem; /* 768px */
  --desktop: 10.24rem; /* 1024px */

  --container: 110rem; /* 1100px */
  --max-container: calc(100% - 4rem);
}
